<VirtualHost *:80>
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/wordpress
    ServerName www.sterndata.com

    <Directory /var/www/wordpress>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog ${APACHE_LOG_DIR}/wordpress_error.log
    CustomLog ${APACHE_LOG_DIR}/wordpress_access.log combined

    # Si vous utilisez Let's Encrypt pour SSL/TLS
    # Include /etc/letsencrypt/options-ssl-apache.conf
    # SSLCertificateFile /etc/letsencrypt/live/www.sterndata.com/fullchain.pem
    # SSLCertificateKeyFile /etc/letsencrypt/live/www.sterndata.com/privkey.pem
</VirtualHost>
